* {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

section.sheet {
  display: flex;
  flex-direction: row-reverse;

  margin: auto;
  font-family: Roboto;
}

section.sheet main,
section.sheet aside {
  padding: 20pt;
  overflow: hidden;
}

section.sheet main {
  flex: 0 1 67%;
}

section.sheet aside {
  flex: 0 1 33%;
  background: teal;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: Fira Sans;
}

h1 {
  font-size: 32px;
  margin: 10px 0;
}

main h2 {
  margin: 12px 0;
}

summary {
  margin-bottom: 32px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.skills {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

ul.skills li {
  margin: 4pt 4pt;
  padding: 6pt 6pt 5pt;
  background: cadetblue;
  border-radius: 8pt;
}

ul.timescale > li,
ul.education > li {
  position: relative;
  background-position-x: 4pt;
  padding: 0 0 32px 16px;
  margin: 0 0 0 12px;
  border-left: 1px solid teal;
}

ul.timescale > li:first-of-type::before {
  left: -1px;
  top: 0pt;
  background: white;
  height: 8px;
  width: 1px;
  content: "";
  position: absolute;
  display: block;
}

ul.timescale > li:last-of-type::before {
  left: -1px;
  top: 10pt;
  background: linear-gradient(to bottom, #ffffff00, #ffffffff 85%);
  height: 100%;
  width: 1px;
  content: "";
  position: absolute;
  display: block;
}

ul.education > li:last-of-type::before {
  left: -1px;
  top: 0pt;
  background: linear-gradient(
    to bottom,
    #ffffffff 0,
    #ffffffff 10px,
    #ffffff00 12px,
    #ffffffff 85%
  );
  height: 100%;
  width: 1px;
  content: "";
  position: absolute;
  display: block;
}

ul.timescale > li::after,
ul.education > li::after {
  left: -6.5px;
  top: 4pt;
  background: teal;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  position: absolute;
  display: block;
}

ul.timescale date,
ul.education date {
  color: teal;
}

ul.timescale h3,
ul.education h3 {
  margin: 8px 0;
}

ul.achievements > li {
  padding-left: 17px;
  text-indent: -17px;
  font-size: 14px;
}

ul.achievements > li::before {
  content: "— ";
}

aside h2:not(:first-of-type) {
  margin-top: 32pt;
}

aside h3 {
  margin: 16pt 0 6pt;
}

a {
  color: unset;
  text-decoration: none;
}

.print-button {
  position: absolute;
  opacity: 0.3;

  bottom: 10px;
  right: 10px;

  background: none;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s;
}

.print-button:hover {
  opacity: 1;
}

.print-button img {
  width: 48px;
  height: 48px;
}

@media print {
  .print-button {
    display: none;
  }
}
